<h1>Users Data fetched from Mysql db</h1>
<table border="1">
  <thead>
    <tr>
      <th>Id</th>
      <th>Person Id</th>
      <th>FirstName</th>
      <th>LastName</th>
      <th>Address</th>
      <th>City</th>
    </tr>

  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user['id']}}</td>
      <td>{{user['PersonID']}}</td>
      <td>{{user['FirstName']}}</td>
      <td>{{user['LastName']}}</td>
      <td>{{user['Address']}}</td>
      <td>{{user['City']}}</td>
    </tr>
  </tbody>
</table>